.centered {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.text-component {
  font: 16px Verdana, Arial, sans-serif;
}

.flex-container {
  display: flex;
}

.bottom-gap-normal {
  margin-bottom: 10px;
}

.bottom-gap-large {
  margin-bottom: 20px;
}

.bottom-gap-small {
  margin-bottom: 5px;
}

.left-indented-btn {
  margin-left: 10px;
}

.move-shift-btn, .single-digit-pair::before {
  margin-right: 10px;
}

.rounded-input {
  border-radius: 8px;
}

.move-shift-btn {
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.move-shift-btn:disabled {
  opacity: 0.5;
}

.move-shift-btn:hover {
  background-color: rgb(214, 214, 214);
}

.no-outline:focus {
  outline: none;
}

.no-outline::-moz-focus-inner {
  border: none;
}

[name="board-size"] {
  padding-left: 5px;
  padding-right: 5px;
  width: 28px;
}

.board {
  flex-direction: column;
  align-items: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.highlighted {
  background: yellow;
}

.game-status {
  padding: 10px;
  border-radius: 15px;
}

.win-status {
  background: limegreen;
}

.tie-status {
  background: aqua;
}

.next {
  background-image: url(./assets/next-arrow.svg);
}

.prev {
  background-image: url(./assets/prev-arrow.svg);
}

.game-moves {
  counter-reset: moves;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto;
  max-height: 184px;
  max-width: 192px;
  display: block;
}

.move-pair::before {
  counter-increment: moves;
  content: counter(moves) ".";
  margin-top: 2px;
}

.right-move-column {
  margin-right: 36px;
}

.current-step {
  font-weight: bold;
}

.footer-text {
  font: 12px "Times New Roman", serif;
}

@-moz-document url-prefix() {
  .game-moves {
    max-width: 252px;
  }
}
