.game, .board-size-selector, [for="board-size"], [name="board-size"], .board, .game-status, .move-shift-buttons, .initial-step, .footer-text {
  margin-left: auto;
  margin-right: auto;
  display: table;
  font: 16px Verdana, Arial, sans-serif;
}

.board-size-selector {
  margin-bottom: 20px;
}

[for="board-size"] {
  margin-bottom: 5px;
}

[name="board-size"] {
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  width: 28px;
}

[name="board-size"]:focus {
  outline: 0;
}

.board {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square::-moz-focus-inner {
  border: none;
}

.square.highlighted {
  background: yellow;
}

.game-status {
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.win-status {
  background: limegreen;
}

.tie-status {
  background: aqua;
}

.move-shift-buttons {
  margin-bottom: 20px;
}

.next-move, .prev-move {
  width: 35px;
  height: 25px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.next-move:disabled, .prev-move:disabled {
  opacity: 0.5;
}

.next-move:hover, .prev-move:hover {
  background-color: rgb(214, 214, 214);
}

.next-move:focus, .prev-move:focus {
  outline: none;
}

.next-move::-moz-focus-inner, .prev-move::-moz-focus-inner {
  border: none;
}

.next-move {
  background-image: url(./assets/next-arrow.svg);
}

.prev-move {
  background-image: url(./assets/prev-arrow.svg);
}

.initial-step {
  margin-bottom: 10px;
}

.game-moves {
  counter-reset: moves;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto;
  max-height: 184px;
  max-width: 192px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@-moz-document url-prefix() {
  .game-moves {
    max-width: 252px;
  }
}

.move-pair::before {
  counter-increment: moves;
  content: counter(moves) ".";
  margin-top: 2px;
}

.single-digit-pair::before {
  margin-right: 10px;
}

.move-pair {
  display: flex;
  margin-bottom: 5px;
}

.move-X, .move-O {
  margin-left: 10px;
}

.move-O {
  margin-right: 36px;
}

.current-step {
  font-weight: bold;
}

.footer-text {
  font-size: 10px;
}
